<tr>
    <td style="padding-top:20px;font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";color:#333333;font-size:17px;line-height:1.5em;">
        Hi,<br/ >
        We got a new contact request:
        <ul style="color:#68757B;font-size:16px">
            <li>Name: {{name}}</li>
            <li>Email: {{email}}</li>
            {{#if tel}}
               <li>Phone Number: {{tel}}</li>
            {{/if}}
            {{#if message}}
                <li>Message: {{message}}</li>
            {{/if}}
            {{#if campaign}}
                <li>Campaign: {{campaign}}</li>
            {{/if}}
            {{#if source_template}}
                <li>Source Template: {{source_template}}</li>
            {{/if}}
            {{#if version}}
                <li>Version: {{version}}</li>
            {{/if}}
            {{#if root_url}}
                <li>Root URL: {{root_url}}</li>
            {{/if}}
            {{#if tz}}
                <li>Timezone: {{tz}}</li>
            {{/if}}
            <li>Request ID: {{_id}}</li>
        </ul>
        Last 5 requests received:
        <ul>
            {{#each previous_requests}}
            <li>{{name}} @ {{createdAt}}
                <ul style="color:#68757B;font-size:16px">
                    <li>Name: {{name}}</li>
                    <li>Email: {{email}}</li>
                    {{#if tel}}
                        <li>Tel: {{tel}}</li>
                    {{/if}}
                    {{#if message}}
                        <li>Message: {{message}}</li>
                    {{/if}}
                    {{#if campaign}}
                        <li>Campaign: {{campaign}}</li>
                    {{/if}}
                    {{#if source_template}}
                        <li>Source Template: {{source_template}}</li>
                    {{/if}}
                    {{#if version}}
                        <li>Version: {{version}}</li>
                    {{/if}}
                    {{#if root_url}}
                        <li>Root URL: {{root_url}}</li>
                    {{/if}}
                    {{#if tz}}
                        <li>Timezone: {{tz}}</li>
                    {{/if}}
                    <li>Request ID: {{_id}}</li>
                </ul>
            </li>
            {{/each}}
        </ul>
    </td>
</tr>
